<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @board.email %>
</p>

<p>
  <strong>Width:</strong>
  <%= @board.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @board.height %>
</p>

<p>
  <strong>Number of mines:</strong>
  <%= @board.number_of_mines %>
</p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
